In [1]:
import pandas as pd

In [2]:
tlist = pd.read_html('https://www.ss.com/lv/transport/cars/volkswagen/')

In [3]:
type(tlist)

list

In [4]:
len(tlist)

10

In [9]:
tlist[7]

,0,1,2,3,4,5,6,7
0,Sludinājumi \tdatums,Modelis,Gads,Tilp.,Nobrauk.,Cena,NaN,NaN
1,NaN,NaN,Pārdod VW Passat B7 ar bagātu komplektāciju. U...,Passat (B7),2012,2.0D,258 tūkst.,"10,500 €"
2,NaN,NaN,"Lv/ru. 1.9Tdi. Laba, ekonomiska un ērta ģimene...",Toledo,2005,1.9D,-,"2,250 €maiņai"
3,NaN,NaN,Caddy Life Maxi Webasto Navi Rns 315 Tikko pēc...,Caddy,2008,1.9D,-,"4,190 €"
4,NaN,NaN,"Labs darba zirdziņš ar ekonomisku dīzeļu 1, 9l...",Passat (B5),2000,1.9D,291 tūkst.,"1,350 €"
5,NaN,NaN,Mainitas siksnas Ella. 160zs. Laba stavokli. S...,Passat (B5),2004,1.9D,306 tūkst.,"2,850 €"
6,NaN,NaN,Pārdodu Volkswagen Golf V 2.0 Tdi. Motora jaud...,Golf 5,2008,2.0D,163 tūkst.,"4,700 €"
7,NaN,NaN,"T4 buss no Nīderlandes, 8+1 vietas, garā bāze....",Transporter,2001,1.9D,254 tūkst.,"2,950 €"
8,NaN,NaN,"VW Caravelle 2.5td 96kw, Отличное состояние, W...",Caravelle,2009,2.5D,289 tūkst.,"6,100 €"
9,NaN,NaN,"Sveiki, tiek pārdots labi kopts un saudzīgi br...",Sharan,2002,1.9D,278 tūkst.,"1,850 €"
10,NaN,NaN,VW Passat Variant 2.0Tdi (103kw) Dsg Automātis...,Passat (B7),2012,2.0D,182 tūkst.,"9,500 €"
11,NaN,NaN,100 % īsts nobraukums - ļoti maziņš - tikai 93...,Golf 4,2000,1.6,-,"1,890 €"
12,NaN,NaN,VW Touareg 3.0D 176 Kw ar 240 zs. Individual k...,Touareg,2009,3.0D,220 tūkst.,"10,000 €"
13,NaN,NaN,Pārdod VW Polo 2007.gada 1.4 Tdi (super ekonom...,Polo,2007,1.4D,-,"2,490 €"
14,NaN,NaN,"No Austrijas. VW Golf-4, 1.9Tdi, 66Kw, 2001g. ...",Golf 4,2001,1.9D,-,"2,350 €"
15,NaN,NaN,08.09.2008 pirma registracija. labais 77kw diz...,Golf 5,2008,1.9D,240 tūkst.,"3,800 €"
16,NaN,NaN,"Pārdodu ļoti labi aprīkotu B6 universāli, 2.0 ...",Passat (B6),2005,2.0D,343 tūkst.,"3,000 €"
17,NaN,NaN,VW Touran 1.9 Diesel. 7-Мест. Гаражное хранени...,Touran,2003,1.9D,-,"2,850 €"
18,NaN,NaN,Pārdodu vw passat b6 2.0tdi tehniski un vizuāl...,Passat (B6),2006,2.0D,298 tūkst.,"2,992 €"
19,NaN,NaN,"Pārdodu auto labā tehniskā stāvoklī, jo ir ieg...",Touran,2007,2.0D,340 tūkst.,"3,590 €"
20,NaN,NaN,Pārdodu vai mainu. 1.9dīzeļmotora golfs. Lec u...,Golf 4,1999,1.9D,260 tūkst.,"1,000 €"
21,NaN,NaN,Pardod golfu ar svaigu skati un loti pilnu kom...,Golf 4,1999,1.9D,420 tūkst.,"1,150 €"
22,NaN,NaN,Pārdodu wolksvagen T4. Tiko izieta TA.,T4,1994,1.9D,325 tūkst.,"1,600 €"
23,NaN,NaN,Labdien. vēlos pārdot šo VW Polo. Mašīnai ir j...,Polo,1998,1.4,282 tūkst.,"1,000 €"
24,NaN,NaN,"Pārdodu VW Golf 2.0 Benzin/gaze. Kvalitatīvs, ...",Golf 4,1999,2.0,-,"1,590 €"
25,NaN,NaN,VW Golf 6. 2.0Tdi 103kw ar 140 hp (common rail...,Golf 6,2012,2.0D,271 tūkst.,"5,550 €"
26,NaN,NaN,"Pārdodas passat labā tehniskā stāvoklī, virsū ...",Passat (B4),1994,1.8,279 tūkst.,750 €
27,NaN,NaN,Normāls braucamais labā stāvoklī. Labas ziemas...,Golf 4,2003,1.9D,350 tūkst.,"1,700 €"
28,NaN,NaN,"Labs, ekonomisks auto. Nomainīta eļļa. TA līdz...",Golf 4,2001,1.4,292 tūkst.,"1,350 €"
29,NaN,NaN,"Продам Passat 1998 года, 1.9 Tdi, 81kw, один и...",Passat (B5),1998,1.9D,340 tūkst.,"1,230 €"
30,NaN,NaN,Braucams tik riepas janomaina.,Passat (B6),2007,2.0D,224 tūkst.,"1,800 €"
31,"load_script_async(""/w_inc/reklama.728.php?0||1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df = tlist[7]

In [11]:
df

,0,1,2,3,4,5,6,7
0,Sludinājumi \tdatums,Modelis,Gads,Tilp.,Nobrauk.,Cena,NaN,NaN
1,NaN,NaN,Pārdod VW Passat B7 ar bagātu komplektāciju. U...,Passat (B7),2012,2.0D,258 tūkst.,"10,500 €"
2,NaN,NaN,"Lv/ru. 1.9Tdi. Laba, ekonomiska un ērta ģimene...",Toledo,2005,1.9D,-,"2,250 €maiņai"
3,NaN,NaN,Caddy Life Maxi Webasto Navi Rns 315 Tikko pēc...,Caddy,2008,1.9D,-,"4,190 €"
4,NaN,NaN,"Labs darba zirdziņš ar ekonomisku dīzeļu 1, 9l...",Passat (B5),2000,1.9D,291 tūkst.,"1,350 €"
5,NaN,NaN,Mainitas siksnas Ella. 160zs. Laba stavokli. S...,Passat (B5),2004,1.9D,306 tūkst.,"2,850 €"
6,NaN,NaN,Pārdodu Volkswagen Golf V 2.0 Tdi. Motora jaud...,Golf 5,2008,2.0D,163 tūkst.,"4,700 €"
7,NaN,NaN,"T4 buss no Nīderlandes, 8+1 vietas, garā bāze....",Transporter,2001,1.9D,254 tūkst.,"2,950 €"
8,NaN,NaN,"VW Caravelle 2.5td 96kw, Отличное состояние, W...",Caravelle,2009,2.5D,289 tūkst.,"6,100 €"
9,NaN,NaN,"Sveiki, tiek pārdots labi kopts un saudzīgi br...",Sharan,2002,1.9D,278 tūkst.,"1,850 €"
10,NaN,NaN,VW Passat Variant 2.0Tdi (103kw) Dsg Automātis...,Passat (B7),2012,2.0D,182 tūkst.,"9,500 €"
11,NaN,NaN,100 % īsts nobraukums - ļoti maziņš - tikai 93...,Golf 4,2000,1.6,-,"1,890 €"
12,NaN,NaN,VW Touareg 3.0D 176 Kw ar 240 zs. Individual k...,Touareg,2009,3.0D,220 tūkst.,"10,000 €"
13,NaN,NaN,Pārdod VW Polo 2007.gada 1.4 Tdi (super ekonom...,Polo,2007,1.4D,-,"2,490 €"
14,NaN,NaN,"No Austrijas. VW Golf-4, 1.9Tdi, 66Kw, 2001g. ...",Golf 4,2001,1.9D,-,"2,350 €"
15,NaN,NaN,08.09.2008 pirma registracija. labais 77kw diz...,Golf 5,2008,1.9D,240 tūkst.,"3,800 €"
16,NaN,NaN,"Pārdodu ļoti labi aprīkotu B6 universāli, 2.0 ...",Passat (B6),2005,2.0D,343 tūkst.,"3,000 €"
17,NaN,NaN,VW Touran 1.9 Diesel. 7-Мест. Гаражное хранени...,Touran,2003,1.9D,-,"2,850 €"
18,NaN,NaN,Pārdodu vw passat b6 2.0tdi tehniski un vizuāl...,Passat (B6),2006,2.0D,298 tūkst.,"2,992 €"
19,NaN,NaN,"Pārdodu auto labā tehniskā stāvoklī, jo ir ieg...",Touran,2007,2.0D,340 tūkst.,"3,590 €"
20,NaN,NaN,Pārdodu vai mainu. 1.9dīzeļmotora golfs. Lec u...,Golf 4,1999,1.9D,260 tūkst.,"1,000 €"
21,NaN,NaN,Pardod golfu ar svaigu skati un loti pilnu kom...,Golf 4,1999,1.9D,420 tūkst.,"1,150 €"
22,NaN,NaN,Pārdodu wolksvagen T4. Tiko izieta TA.,T4,1994,1.9D,325 tūkst.,"1,600 €"
23,NaN,NaN,Labdien. vēlos pārdot šo VW Polo. Mašīnai ir j...,Polo,1998,1.4,282 tūkst.,"1,000 €"
24,NaN,NaN,"Pārdodu VW Golf 2.0 Benzin/gaze. Kvalitatīvs, ...",Golf 4,1999,2.0,-,"1,590 €"
25,NaN,NaN,VW Golf 6. 2.0Tdi 103kw ar 140 hp (common rail...,Golf 6,2012,2.0D,271 tūkst.,"5,550 €"
26,NaN,NaN,"Pārdodas passat labā tehniskā stāvoklī, virsū ...",Passat (B4),1994,1.8,279 tūkst.,750 €
27,NaN,NaN,Normāls braucamais labā stāvoklī. Labas ziemas...,Golf 4,2003,1.9D,350 tūkst.,"1,700 €"
28,NaN,NaN,"Labs, ekonomisks auto. Nomainīta eļļa. TA līdz...",Golf 4,2001,1.4,292 tūkst.,"1,350 €"
29,NaN,NaN,"Продам Passat 1998 года, 1.9 Tdi, 81kw, один и...",Passat (B5),1998,1.9D,340 tūkst.,"1,230 €"
30,NaN,NaN,Braucams tik riepas janomaina.,Passat (B6),2007,2.0D,224 tūkst.,"1,800 €"
31,"load_script_async(""/w_inc/reklama.728.php?0||1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [13]:
df.columns = df[0]

ValueError: Length mismatch: Expected axis has 8 elements, new values have 32 elements

In [14]:
df[0]

0                                  Sludinājumi \tdatums
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
5                                                   NaN
6                                                   NaN
7                                                   NaN
8                                                   NaN
9                                                   NaN
10                                                  NaN
11                                                  NaN
12                                                  NaN
13                                                  NaN
14                                                  NaN
15                                                  NaN
16                                                  NaN
17                                                  NaN
18                                                  NaN
19                                                  NaN
20                                                  NaN
21                                                  NaN
22                                                  NaN
23                                                  NaN
24                                                  NaN
25                                                  NaN
26                                                  NaN
27                                                  NaN
28                                                  NaN
29                                                  NaN
30                                                  NaN
31    load_script_async("/w_inc/reklama.728.php?0||1...
Name: 0, dtype: object

In [18]:
df.iloc[0,:]

0    Sludinājumi \tdatums
1                 Modelis
2                    Gads
3                   Tilp.
4                Nobrauk.
5                    Cena
6                     NaN
7                     NaN
Name: 0, dtype: object

In [19]:
## How to change column values
df.columns = df.iloc[0,:]

In [20]:
df

,Sludinājumi datums,Modelis,Gads,Tilp.,Nobrauk.,Cena,nan,nan
0,Sludinājumi \tdatums,Modelis,Gads,Tilp.,Nobrauk.,Cena,NaN,NaN
1,NaN,NaN,Pārdod VW Passat B7 ar bagātu komplektāciju. U...,Passat (B7),2012,2.0D,258 tūkst.,"10,500 €"
2,NaN,NaN,"Lv/ru. 1.9Tdi. Laba, ekonomiska un ērta ģimene...",Toledo,2005,1.9D,-,"2,250 €maiņai"
3,NaN,NaN,Caddy Life Maxi Webasto Navi Rns 315 Tikko pēc...,Caddy,2008,1.9D,-,"4,190 €"
4,NaN,NaN,"Labs darba zirdziņš ar ekonomisku dīzeļu 1, 9l...",Passat (B5),2000,1.9D,291 tūkst.,"1,350 €"
5,NaN,NaN,Mainitas siksnas Ella. 160zs. Laba stavokli. S...,Passat (B5),2004,1.9D,306 tūkst.,"2,850 €"
6,NaN,NaN,Pārdodu Volkswagen Golf V 2.0 Tdi. Motora jaud...,Golf 5,2008,2.0D,163 tūkst.,"4,700 €"
7,NaN,NaN,"T4 buss no Nīderlandes, 8+1 vietas, garā bāze....",Transporter,2001,1.9D,254 tūkst.,"2,950 €"
8,NaN,NaN,"VW Caravelle 2.5td 96kw, Отличное состояние, W...",Caravelle,2009,2.5D,289 tūkst.,"6,100 €"
9,NaN,NaN,"Sveiki, tiek pārdots labi kopts un saudzīgi br...",Sharan,2002,1.9D,278 tūkst.,"1,850 €"
10,NaN,NaN,VW Passat Variant 2.0Tdi (103kw) Dsg Automātis...,Passat (B7),2012,2.0D,182 tūkst.,"9,500 €"
11,NaN,NaN,100 % īsts nobraukums - ļoti maziņš - tikai 93...,Golf 4,2000,1.6,-,"1,890 €"
12,NaN,NaN,VW Touareg 3.0D 176 Kw ar 240 zs. Individual k...,Touareg,2009,3.0D,220 tūkst.,"10,000 €"
13,NaN,NaN,Pārdod VW Polo 2007.gada 1.4 Tdi (super ekonom...,Polo,2007,1.4D,-,"2,490 €"
14,NaN,NaN,"No Austrijas. VW Golf-4, 1.9Tdi, 66Kw, 2001g. ...",Golf 4,2001,1.9D,-,"2,350 €"
15,NaN,NaN,08.09.2008 pirma registracija. labais 77kw diz...,Golf 5,2008,1.9D,240 tūkst.,"3,800 €"
16,NaN,NaN,"Pārdodu ļoti labi aprīkotu B6 universāli, 2.0 ...",Passat (B6),2005,2.0D,343 tūkst.,"3,000 €"
17,NaN,NaN,VW Touran 1.9 Diesel. 7-Мест. Гаражное хранени...,Touran,2003,1.9D,-,"2,850 €"
18,NaN,NaN,Pārdodu vw passat b6 2.0tdi tehniski un vizuāl...,Passat (B6),2006,2.0D,298 tūkst.,"2,992 €"
19,NaN,NaN,"Pārdodu auto labā tehniskā stāvoklī, jo ir ieg...",Touran,2007,2.0D,340 tūkst.,"3,590 €"
20,NaN,NaN,Pārdodu vai mainu. 1.9dīzeļmotora golfs. Lec u...,Golf 4,1999,1.9D,260 tūkst.,"1,000 €"
21,NaN,NaN,Pardod golfu ar svaigu skati un loti pilnu kom...,Golf 4,1999,1.9D,420 tūkst.,"1,150 €"
22,NaN,NaN,Pārdodu wolksvagen T4. Tiko izieta TA.,T4,1994,1.9D,325 tūkst.,"1,600 €"
23,NaN,NaN,Labdien. vēlos pārdot šo VW Polo. Mašīnai ir j...,Polo,1998,1.4,282 tūkst.,"1,000 €"
24,NaN,NaN,"Pārdodu VW Golf 2.0 Benzin/gaze. Kvalitatīvs, ...",Golf 4,1999,2.0,-,"1,590 €"
25,NaN,NaN,VW Golf 6. 2.0Tdi 103kw ar 140 hp (common rail...,Golf 6,2012,2.0D,271 tūkst.,"5,550 €"
26,NaN,NaN,"Pārdodas passat labā tehniskā stāvoklī, virsū ...",Passat (B4),1994,1.8,279 tūkst.,750 €
27,NaN,NaN,Normāls braucamais labā stāvoklī. Labas ziemas...,Golf 4,2003,1.9D,350 tūkst.,"1,700 €"
28,NaN,NaN,"Labs, ekonomisks auto. Nomainīta eļļa. TA līdz...",Golf 4,2001,1.4,292 tūkst.,"1,350 €"
29,NaN,NaN,"Продам Passat 1998 года, 1.9 Tdi, 81kw, один и...",Passat (B5),1998,1.9D,340 tūkst.,"1,230 €"
30,NaN,NaN,Braucams tik riepas janomaina.,Passat (B6),2007,2.0D,224 tūkst.,"1,800 €"
31,"load_script_async(""/w_inc/reklama.728.php?0||1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN